/*-------------------------------------------------TOP-CONTAINER-DIV STYLING STARTS HERE-------------------------------------------------------*/

.topdiv{
    position: relative; 

}
.row-1{
    position: absolute;
    top:55px;
    width: 100%;
    margin: 0;
}
.smartphone{
margin-left: 18%;   
width: 70%;
}
#slogan{
    padding-top:10%
}

/*-------------------------------------------------TOP-CONTAINER-DIV STYLING ENDS HERE-------------------------------------------------------*/

/*----------------------------------------------------SEPERATOR HR---------------------------------------------------------------------------*/


#seperator{
    margin-top: 2%;
    border-style: none;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 5%;
    
}

/*----------------------------------------------------SEPERATOR HR-----------------------------------------------------------------------------*?


/*------------------------------------------------------MEDIA SCREEN QUERRIES STARTS HERE----------------------------------------------------------*/

@media (max-width: 500px){

/*-------------------------------------------------TOP-CONTAINER-DIV STYLING STARTS HERE-------------------------------------------------------*/

.row-1{
top: 6px;
}
.smartphone{
width:29% ;
margin-left:39%;
}

/*-------------------------------------------------TOP-CONTAINER-DIV STYLING ENDS HERE-------------------------------------------------------*/

/*----------------------------------------------------SEPERATOR HR---------------------------------------------------------------------------*/


#seperator{
    border-style: none;
    margin-top: 52%;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 8%;
}

/*----------------------------------------------------SEPERATOR HR-----------------------------------------------------------------------------*?

}