body{
    font-family: 'Montserrat', sans-serif;
}
/*-------------------------------------------------TOP-CONTAINER-DIV STYLING STARTS HERE-------------------------------------------------------*/
#play-button{

    width: 50%;
    padding: 0;
    border-style: none;
    border-radius: 10%;
    
}
.topdiv{
    position: relative; 

}
.row-1{
    position: absolute;
    top:55px;
    width: 100%;
    margin: 0;
  
}
.smartphone{
margin-left: 18%;   
width: 70%;
}
#slogan{
    padding-top:10%
}
#slogan-txt{   
font-size: 2rem;
color:#8a8484
}
/*-------------------------------------------------TOP-CONTAINER-DIV STYLING ENDS HERE-------------------------------------------------------*/

/*----------------------------------------------------SEPERATOR HR---------------------------------------------------------------------------*/


#seperator{
    margin-top: 3%;
    border-style: none;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 5%;
    
}
.feature-img{
    width: 50%;
}
.seperator{
    margin-top: 3%;
    border-style: none;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 5%;
    
}

.feature-h3{
    margin: 9%;
}
/*----------------------------------------------------SEPERATOR HR-----------------------------------------------------------------------------*/

/*----------------------------------------------------APP FEATURE DESCRIPTION STYLING STARTS HERE ----------------------------------------------*/

.features{
    text-align: center;
    margin:6%;
}
.feature-p{
    margin: 6%;
}

/*----------------------------------------------------APP FEATURE DESCRIPTION STYLING ENDS HERE ----------------------------------------------*/

/*-----------------------------------------------------MY ADVENTURTE-STORY STYLING SECTION STARTS HERE---------------------------------------------------*/
.overlay{
        background-color: #00000040;
        margin:4% 1%;
}
/*-----------------------------------------------------MY ADVENTURTE-STORY STYLING SECTION ENDS HERE---------------------------------------------------*/



/*------------------------------------------------------MEDIA SCREEN QUERRIES STARTS HERE----------------------------------------------------------*/

@media (max-width: 500px){

/*-------------------------------------------------TOP-CONTAINER-DIV STYLING STARTS HERE-------------------------------------------------------*/

.row-1{
top: 6px;
}
.smartphone{
width:29% ;
margin-left:39%;
}

/*-------------------------------------------------TOP-CONTAINER-DIV STYLING ENDS HERE-------------------------------------------------------*/

/*----------------------------------------------------SEPERATOR HR---------------------------------------------------------------------------*/


#seperator{
    border-style: none;
    margin-top: 55%;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 8%;
}
.seperator{
    border-style: none;
    border: 4px dotted;
    size: 2;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 8%;
}
/*----------------------------------------------------SEPERATOR HR-----------------------------------------------------------------------------*?


/*----------------------------------------------------APP FEATURE DESCRIPTION STYLING STARTS HERE ----------------------------------------------*/














/*----------------------------------------------------APP FEATURE DESCRIPTION STYLING ENDS  HERE ----------------------------------------------*/




}